{{#if href}}<a{{else}}<button{{/if}}
  {{#if target}} target="{{target}}"{{/if}}
  class="btn{{#if classes}} {{classes}}{{/if}}{{#if disabled}} btn--disabled{{/if}}"
  {{#if href}}href="{{href}}"{{/if}}
  {{#if disabled}}disabled{{/if}}
  {{#unless href}}type="{{#if type}}{{type}}{{else}}button{{/if}}"{{/unless}}
>
  {{title}}
{{#if href}}</a>{{else}}</button>{{/if}}
